.best-h {
    text-align: center;
    margin-top: 40px;
}

.best-p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    margin-top: 30px;
}

.select-best {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.container-movies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

@media screen and (max-width: 600px) {
    .best-p {
        font-size: 12px;
    }
}