.container-card {
    width: 200px;
    height: 300px;
    background-color: rgba(0, 224, 255, 0.31);
    cursor: pointer;
}

.img-card {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img-card:active {
    transform: scale(1.8);
    position: relative;
    z-index: 1;
    transition: 0.4s;
}

.content-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary-color);
    position: relative;
    padding: 0.5rem;
    bottom: 30px;
}

.container-card p {
    display: flex;
    align-items: center;
    gap: 5px;
}

