input {
    background-color: #03abd5;
    border: 2px solid #e803f8;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

button {
    height: 42px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #03abd5;
    border: 2px solid #e803f8;
    color: #fff;
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.container-input {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}
