.container-input input {
    background-color: #03abd5;
    border: 2px solid #e803f8;
    height: 25px;
    border-radius: 10px;
    width: 250px;
    color: #fff;
    font-size: 16px;
    padding: 2px;
}

.container-input input::placeholder {
    color: #fff;
}

.container-input button {
    height: 30px;
    width: 100px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #03abd5;
    border: 2px solid #e803f8;
    color: #fff;
}

.container-input button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.container-input {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .container-input input {
        width: 160px;
    }
}