nav {
    background-color: #03abd5;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-logo h1 {
    font-size: 30px;
    align-self: center;
    margin-bottom: 3px;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.container-logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
        padding: 10px 0;
        gap: 10px;
    }
   .container-logo h1{
    font-size: 20px;
   }
}
