nav {
    background-color: #03abd5;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 40px;
    align-self: center;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}