button {
    background-color: #e803f8;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

