.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 30px;
}

.container h2 {
    font-size: 30px;
    color: #03abd5;
    margin-bottom: 30px;
}

.container p {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.content ul {
    list-style: none;
    text-align: left;
    font-size: 20px;
    align-self: center;
    width: 30%;
}

.content li {
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column-reverse;
        gap: 50px;
        margin-top: 40px;
    }

    .content ul {
        width: 100%;
        font-size: 1rem;
    }

    img {
        width: 50%;
        align-self: center;
    }
}

