.container-input input {
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    height: 40px;
    border-radius: 10px;
    width: 350px;
    font-size: 16px;
    padding: 10px;
}

.container-input input::placeholder {
    color: var(--primary-color);
    font-weight: bold;
}

.container-input button {
    height: 40px;
    width: 40px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input button:hover {
    transform: scale(1.04);
    transition: 0.3s;
}

.container-input {
    display: flex;
    gap: 10px;
    height: 100%;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .container-input input {
        width: 160px;
    }
}