@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Denk one";
  src: url("./assets/fonts/Denk_One/DenkOne-Regular.ttf");
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #4f8699;
  --secondary-color: #1bb0ce;
  --background-color: #dad6ca;
  --text-color: #563444;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html ::-webkit-scrollbar {
  width: 3px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--secondary-color);
  width: 3px;
}
html ::-webkit-scrollbar-track {
  width: 3px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  max-width: 2560px;
  margin: auto;
}

body {
  background-color: var(--background-color);
}

p {
  line-height: 1.8rem;
}

footer {
  position: relative;
  background-color: var(--secondary-color);
  color: var(--text-color);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  padding: 20px 0;
}

.container-footer {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  font-weight: bold;
}

.container-footer span {
  font-family: "Denk one";
  color: var(--primary-color);
  text-shadow: 0px 2px 3px rgba(0,0,0,0.6);
  font-size: 30px;
  align-self: center;
  margin-bottom: 3px;
}

.container-footer img {
  width: 2em;
  text-shadow: 8px 4px 2px rgba(0,0,0,0.6);
  
}
